footer
    .footer
        a(href="#").footer_img
            img(src="img/logo.svg", alt="")
        .footer_block
            ul.footer_list
                li.footer_item 
                    a(href="#").footer_link Voice over and Subtitle
                li.footer_item 
                    a(href="#").footer_link Media Center
                li.footer_item 
                    a(href="#").footer_link Privacy
                li.footer_item 
                    a(href="#").footer_link Contact Us
        .footer_block
            ul.footer_list
                li.footer_item 
                    a(href="#").footer_link Voice Description
                li.footer_item 
                    a(href="#").footer_link Investor Relations
                li.footer_item 
                    a(href="#").footer_link Legal Provisions
        .footer_block
            ul.footer_list
                li.footer_item 
                    a(href="#").footer_link Help Center
                li.footer_item 
                    a(href="#").footer_link Job Oppotunities
                li.footer_item 
                    a(href="#").footer_link Cookies Preferences
        .footer_block
            ul.footer_list
                li.footer_item 
                    a(href="#").footer_link Gift Cards
                li.footer_item 
                    a(href="#").footer_link Tearms of Use
                li.footer_item 
                    a(href="#").footer_link Corporate Informations