- var pageTitle = "Justice"

doctype html
html(lang="en")
  head
    title= pageTitle
    style
        include styles/style.css
  body
    include components/header

    section.section_banner
      img(src="img/banner.png", alt="banner").section_banner_img
      .container
        .banner
          h1.banner_title Zack Snyder's Justice League
          .banner_info
            span.banner_info_year 2021
            span.banner_info_age 18+
            span.banner_info_time 4h 2min
            span.banner_info_rating 8.8
          p.banner_text Determined to ensure Superman's ultimate sacrifice was not in vain, Bruce Wayne aligns forces with Diana Prince with plans to recruit a team of metahumans to protect the world from an approaching threat of catastrophic proportions.
          .banner_control
            button.banner_control_btn.banner_control_btn_main Watch
            button.banner_control_btn.banner_control_btn_more More information
    section.section
      .container
        h2.section_h2
          a(href="#").section_h2_link Trending TV Shows
        .movies
          .movies_item
            a(href="#").movies_link
              img(src="img/poster1.png", alt="").movies_img
          .movies_item
            a(href="#").movies_link
              img(src="img/poster2.png", alt="").movies_img
          .movies_item
            a(href="#").movies_link
              img(src="img/poster3.png", alt="").movies_img
          .movies_item
            a(href="#").movies_link
              img(src="img/poster4.png", alt="").movies_img
          .movies_item
            a(href="#").movies_link
              img(src="img/poster5.png", alt="").movies_img
          .movies_item
            a(href="#").movies_link
              img(src="img/poster6.png", alt="").movies_img
        h2.section_h2
          a(href="#").section_h2_link Trending Movies
        .movies
          .movies_item
            a(href="#").movies_link
              img(src="img/poster7.png", alt="").movies_img
          .movies_item
            a(href="#").movies_link
              img(src="img/poster8.png", alt="").movies_img
          .movies_item
            a(href="#").movies_link
              img(src="img/poster9.png", alt="").movies_img
          .movies_item
            a(href="#").movies_link
              img(src="img/poster10.png", alt="").movies_img
          .movies_item
            a(href="#").movies_link
              img(src="img/poster11.png", alt="").movies_img
          .movies_item
            a(href="#").movies_link
              img(src="img/poster12.png", alt="").movies_img
        button.movies_btn See more
    section
      .container
        h2.section_h2
          a(href="#").section_h2_link Popular Genres
        .genres
          .genres_item
            a(href="#").genres_link
              img(src="img/genre1.png", alt="").genres_img
          .genres_item
            a(href="#").genres_link
              img(src="img/genre2.png", alt="").genres_img
          .genres_item
            a(href="#").genres_link
              img(src="img/genre3.png", alt="").genres_img
          .genres_item
            a(href="#").genres_link
              img(src="img/genre4.png", alt="").genres_img
          .genres_item
            a(href="#").genres_link
              img(src="img/genre5.png", alt="").genres_img
          .genres_item
            a(href="#").genres_link
              img(src="img/genre6.png", alt="").genres_img
          .genres_item
            a(href="#").genres_link
              img(src="img/genre7.png", alt="").genres_img
          .genres_item
            a(href="#").genres_link
              img(src="img/genre8.png", alt="").genres_img
    section
      .container 
        h2.section_h2
          a(href="#").section_h2_link Popular Actors & Directors
        .actors 
          .actors_item 
            a(href="#").actors_link
              img(src="img/actor1.png", alt="")
              p.actors_name Samantha Bowen
          .actors_item 
            a(href="#").actors_link
              img(src="img/actor2.png", alt="")
              p.actors_name Rhys Birch
          .actors_item 
            a(href="#").actors_link
              img(src="img/actor3.png", alt="")
              p.actors_name James Holloway
          .actors_item 
            a(href="#").actors_link
              img(src="img/actor4.png", alt="")
              p.actors_name Joshua Walton
          .actors_item 
            a(href="#").actors_link
              img(src="img/actor5.png", alt="")
              p.actors_name Patrick Elliott
          .actors_item 
            a(href="#").actors_link
              img(src="img/actor6.png", alt="")
              p.actors_name Morgan O'Neill
    section.release_section
      .container
        .release
          a(href="#").release_link
            img(src="img/releasebanner.png", alt="").release_img
    section.register_section
      .container
        .register
          p.register_text Are You New Here ? <br/> Don’t wait, Register Now.
          button.register_btn Register Now

          




    include components/footer